{% include base_path %}

<div class="page__footer-copyright">
  <span class="page__footer-left">
    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
    <span class="page__footer-sep">|</span> Research Student (Master's)
    <span class="page__footer-sep">|</span> Shizuoka University
  </span>
  <span class="page__footer-right">
    Site last updated {{ "now" | date: '%Y-%m-%d' }}, <a href="/sitemap/" style="text-transform: uppercase;">{{ site.data.ui-text[site.locale].site_map | default: "Sitemap" }}</a>
  </span>
</div>
